<div class="componentsListComponent">
  <div *ngFor="let cs of CategoriesWithSpecifications">
    <h4 class="mat-h4 text-primary">{{ cs.category }}</h4>
    <button mat-button color="primary" (click)="addComponentDialog(cs.category, componentsObj[cs.category])">Add
      {{ cs.category }}</button>
    <div *ngIf="componentsObj[cs.category]">
      <div *ngFor="let c of componentsObj[cs.category]; trackBy: trackComponents">
        <table [class.highlight]="c.isDefault" style="padding-left: 5px;">
          <tbody>
            <tr *ngIf="c.isDefault">
              <td colspan="2" class="text-muted"><i>Default Component</i></td>
            </tr>
            <tr>
              <th class="text-muted text-right">Manufacturer:&nbsp;</th>
              <td>{{ c.manufacturer?.name }}</td>
            </tr>
            <tr>
              <th class="text-muted text-right">Model:&nbsp;</th>
              <td>{{ c.model }}</td>
            </tr>
            <tr>
              <th class="text-muted text-right">Model Number:&nbsp;</th>
              <td>{{ c.modelNumber }}</td>
            </tr>
            <tr>
              <th class="text-muted text-right">Purchase Price:&nbsp;</th>
              <td>{{ c.purchasePrice |currency }}</td>
            </tr>
            <tr>
              <th class="text-muted text-right">Sale Price:&nbsp;</th>
              <td>{{ c.salePrice |currency }}</td>
            </tr>
            <tr *ngIf="!c.isDefault">
              <th class="text-muted text-right">Actions:&nbsp;</th>
              <td>
                <button mat-raised-button (click)="makeDefaultComponent(cs.category, c.modelNumber)">Make Default</button>
                &nbsp;
                <button mat-raised-button (click)="removeComponent(cs.category, c.modelNumber)">Remove From Platform</button>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
    </div>
    
  </div>
</div>
