@import "modules/variables";

.mat-h3 {
    color: $primary;
}

#footerComponent {
    background: mat-color($mat-grey, 200);
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    cursor: pointer;
}

hr {
    border-bottom-color: mat-color($mat-grey, 300) !important;
}

#top {
    width: 100%;
    height: 20px;
    background: linear-gradient(60deg, rgba($accent, 0.3), rgba($primary, 0.3) 70%);
}
