<form [formGroup]="form" (submit)="process()">
  <h2 class="mat-h2 flex flexItemsCenter" mat-dialog-title>Complete Payment</h2>

  <div mat-dialog-content>

    <h1 style="padding: 20px; background: lightskyblue; font-family: Verdana;"><span style="color: red;">Pay</span><span
        style="color: plum;">Bud</span>, Inc.</h1>

    <mat-form-field class="full-width">
      <input matInput formControlName="name" placeholder="Name">
      <mat-error *ngIf="form.get('name').hasError('required')">Name is
        <strong>required</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput formControlName="address" placeholder="Address"></textarea>
      <mat-error *ngIf="form.get('address').hasError('required')">Address is
        <strong>required</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput formControlName="phoneNumber" placeholder="Phone Number">
      <mat-error *ngIf="form.get('phoneNumber').hasError('required')">Phone Number is
        <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput formControlName="ccNumber" placeholder="Credit Card Number">
      <mat-error *ngIf="form.get('ccNumber').hasError('required')">Credit Card Number is
        <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput formControlName="ccv" placeholder="CCV">
      <mat-error *ngIf="form.get('ccv').hasError('required')">CCV is
        <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Expiration Date" formControlName="expDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div>
      <mat-checkbox formControlName="allowProc">I authorize PayBud, Inc. to process payment.</mat-checkbox>
    </div>



  </div>

  <div mat-dialog-actions class="text-right">
    <button mat-button (click)="cancel()">Cancel</button>
    <span>&nbsp;</span>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.status !== 'VALID' || !form.get('allowProc').value">Submit</button>
  </div>
</form>
