@import '~@angular/material/theming';
// $custom-typography: mat-typography-config($font-family: 'Rubik, monospace');
@include mat-core();
$frontend-primary: mat-palette($mat-green);
$frontend-accent: mat-palette($mat-purple, A200, A100, A400);
$frontend-warn: mat-palette($mat-deep-orange);
$frontend-theme: mat-light-theme($frontend-primary, $frontend-accent, $frontend-warn);
@include angular-material-theme($frontend-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: mat-color($mat-grey, 100);
  color: rgba(0, 0, 0, 0.87);
}

