.flex {
  display: flex !important;
}

.flexItemsCenter {
  align-content: center;
}

.flex1, .spacer {
    flex: 1;
}

.flexCol {
  flex-direction: column;
}

.jCenter {
  justify-content: center;
}
