<div id="landingPageComponent">
  <div id="hero">
    <div class="flex flexItemsCenter">
      <img src="/assets/images/nodejs-seeklogo.com.svg" alt="JS Logo" height="70px">
      <span>&nbsp;&nbsp;&nbsp;</span>
      <div id="logoText" class="mat-h1 mt-20">Computer Designs</div>
    </div>
    <div>
      <h1 class="mat-display-3 mt-20" id="heroText">Power. At your fingertips.</h1>
    </div>
    <div>
      <button mat-raised-button color="accent">Shop Now</button>
    </div>
  </div>

  <section id="ninjaSeries">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="/assets/images/clear-computer-connection-2399840.jpg" alt="Ninja Series" width="100%">
        </div>
        <div class="col-md-7 flex flexCol jCenter text-center">
          <div class="mat-display-2 mb-10">Ninja Series</div>
          <div class="mat-subheading-1 text-primary">Max Power. No limits.</div>
          <div>
            <p>Starting at $1,699</p>
          </div>
          <div>
            <button mat-raised-button color="primary">Customize</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="proSeries">
    <div class="container">
      <div class="row">        
        <div class="col-md-6 flex flexCol jCenter text-center">
          <div class="mat-display-2 mb-10">Frag Series</div>
          <div class="mat-subheading-1 text-accent">Competitive. Excellent Value</div>
          <div>
            <p>Starting at $1,399</p>
          </div>
          <div>
            <button mat-raised-button color="accent">Customize</button>
          </div>
        </div>
        <div class="col-md-5">
          <img src="/assets/images/blur-close-up-contemporary-2225618.jpg" alt="Pro Series" width="100%">
        </div>
      </div>
    </div>
  </section>

  <section id="proSeries">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="/assets/images/clear-computer-connection-2399840.jpg" alt="Ninja Series" width="100%">
        </div>
        <div class="col-md-7 flex flexCol jCenter text-center">
          <div class="mat-display-2 mb-10">Pro Series</div>
          <div class="mat-subheading-1 text-primary">Productive. Inspiring.</div>
          <div>
            <p>Starting at $1,699</p>
          </div>
          <div>
            <button mat-raised-button color="primary">Customize</button>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
