@import "modules/variables";

#hero {
    background: url('~/assets/images/action-blur-close-up-735911.jpg');
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba($accent, 0.7);
    background-blend-mode: darken;
}

#logoText {
    transform: translateY(10px);
}

#heroText, #logoText {
    color: #fff;
    text-align: center;
    font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.odd-section {
    background: #fff;

    .row {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 768px) {
    .odd-section .row {
        flex-direction: row !important;
    }

    .mat-display-2 {
        margin-bottom: 10px;
    }
}
