<div id="landingPageComponent">
  <div id="hero">
    <div class="flex flexItemsCenter">
      <div style="height: 70px">
        <img src="./assets/images/nodejs-seeklogo.com.svg" alt="JS Logo" height="70px">
      </div>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <div id="logoText" class="mat-h1">Computer Designs</div>
    </div>
    <div class="mt-20">
      <h1 class="mat-display-3" id="heroText">Power. At your fingertips.</h1>
    </div>
    <div>
      <button mat-raised-button color="accent">Shop Now</button>
    </div>
  </div>

  <section *ngFor="let p of inventoryService.activePlatforms; odd as odd" [class.odd-section]="odd">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="{{ p.image }}" alt="{{ p.name }}" width="100%">
        </div>
        <div class="col-md-7 flex flexCol jCenter text-center">
          <div class="mat-display-2 mb-10">{{ p.name }}</div>
          <div class="mat-subheading-1" [ngClass]="{'text-primary': !odd, 'text-accent': odd}">{{ p.description }}</div>
          <div>
            <!-- TODO replace this with accurate starting price -->
            <p>Starting at $1,699</p>
          </div>
          <div>
            <button mat-raised-button [color]="!odd ? 'primary' : 'accent'">Customize</button>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
